# Q1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

1.  * 
2.  'hello'
3.  -87.8
4.  - 
5.  / 
6.  +
7.  6 

# Ans:
1. operator
2. value
3. value
4. operator
5. operator
6. operator
7. value

# Q2. What is the difference between string and variable?

# Ans:
In Simple terms, we can say that the string is value or a constant and variable is space where we store the value. Here, any elements which present inside the quotation mark called string and if we want to store that string into a space then that space is called variable. Variable can be static and dynamic that means the size of the variable may or may not vary, depends on the programming languages. String is an iterable object that means we can use indexing operation on it.

# Q3. Describe three different data types.

# Ans:
**Integer**: This type of datatype stores whole number that ranges from negative scale of the number to the positive scale of the number. Integers are commonly used in computer as a group of bits. Integer datatype is not iterable because it doesn't support indexing operations but we use Integer as an index of another iterable object. For example: -2,-1,0,1,2,3,....

**Float**: This type of datatype stores decimal numbers or fractional numbers. Same as the Integer datatype, it also supports huge range of number from negative scale to positive scale. Float dataype is not iterable because it doesn't support indexing operation even though we can't use floating point number as an index like Integers because index cantains whole numbers. For example: -3.5,-2.1,-1.8,0,1.0,2.01,3.004,.....

**String**: This type of datatype stores any type of element inside it but under a quotation that means whatever value we are going to write must be under inverted commas (Single/Double). String datatype supports indexing operation, so it is an iterable object. String object is immutable i.e. we cannot insert or append elements in the string in the same heap space although we can replace or update elements by taking the whole string in any other heap space. For example: "132", '1.234','abcdef',"@#abcde","@#$/", etc.

# Q4. What is an expression made up of? What do all expressions do?

# Ans: 
An Expression is made up of two elements i.e. **OPERATOR** and **OPERANDS**. As an Operand, we can declare constant as well as variable that means we can use variable names in which constants are assigned and also we can use direct constants as an Operand. But, in the Operator, we use some limited symbols which has some unique identification and used to perform some operation with opearands. For example: **a + b - 5** , in this operation, a,b and 5 are operands because it is carrying some value (let's assume a=6 and b=7) and +,- are operators which has some unique identification that means **+** operation can add two elements and **-** operator can subtract two elements. The combination of both Operands and Operator is called Operation or Expression.

# Q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

# Ans: 
The Assignment Statement or we can say it as assignment operator (**=**) is an operator which is used to assign some object to the another object. According to the question, **spam** is Variable and **10** is the value and these two are falling under **OPERAND** category but the operator which is using to store that value i.e. 10 in the Variable i.e. spam is **=**. So we can say that it is an assignment statement or assignment operator which assigns the constant term to the variable. The assignment operator is also falling under **OPERATOR** category. As we know that an expression is a combination of both Operator and Operation, so we can say that **spam = 10** itself an expression.

# Q6. After running the following code, what does the variable bacon contain?
# bacon = 22
# bacon + 1

# Ans:
After successfully running the above code, the variable **bacon** will conation 22 because in the first line of code, **bacon = 22** is declared and after that when cursor will move to the next line of code it will give us 23 but we haven't reassigned it to the variable **bacon** that's why the variable **bacon** will remain 22 after the execution of 2nd line.

In [1]:
bacon = 22

In [2]:
bacon + 1

23

In [3]:
bacon

22

# Q7. What should the values of the following two terms be?
# 'spam' + 'spamspam'
# 'spam' * 3

# Ans: 

Here, we are just concatenating the two strings.

In [4]:
'spam'+'spamspam'

'spamspamspam'

we are multiplying the string by 3 that's why it is generating three repetetive strings continuously.

In [5]:
'spam'*3

'spamspamspam'

# Q8. Why is eggs a valid variable name while 100 is invalid?

# Ans:
**egg** is a valid variable name while **100** is invalid because as per the rule of variable declaration, the variable name must start with a letter or underscore character and it cannot start with a number. So, in this case, the variable name **eggs** is starting with letter **e** that's why it is valid but the variable name **100** is starting with number **1** so it is invalid.

# Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?

# Ans:
**int()**, **float()** and **str()** are the three function which can be used to get the integer, floating-point number or string version of a value respectively.

# Q10. Why does this expression cause an error? How can you fix it?
# 'I have eaten ' + 99 + ' burritos.'

# Ans: 
This is causing error because we cannot concatenate **String** datatype with **Integer** datatype. To fix this issue, we have to **typecast** the integer datatype to string datatype.

In [6]:
'I have eaten '+str(99)+' burritos'

'I have eaten 99 burritos'